{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<h3 class="mt-5 mb-5">AÑADIR PROVEEDOR</h3>
			<div class="col-sm-6 offset-md-2">
				{{ form_start(form) }}
				<div class="form-group mb-3">
					<strong>{{ form_row(form.nombre) }}</strong>				
				</div>
				<div class="form-group mb-3">				
					<strong>{{ form_row(form.email) }}</strong>
				</div>
				<div class="form-group mb-3">
					<strong>{{ form_row(form.telefono) }}</strong>
				</div>
				<div class="form-group mb-3">
					<strong>{{ form_row(form.tipo) }}</strong>
				</div>
				<div class="form-group mb-2">
					<strong>{{ form_row(form.activo) }}</strong>
				</div>
				<div class="form-group">
					<button class="btn btn-primary mt-3 text-white rounded-pill">
						<strong>Añadir</strong>
					</button>
					<a class="btn btn-danger mt-3 text-white rounded-pill" href="{{ path('main')}}">
						<strong>Cancelar</strong>
					</a>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
