{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success w-25 mt-4 mb-b" role="alert">
				<strong>{{message}}</strong>
			</div>
		{% endfor %}
		<h3 class="mt-5 mb-5">LISTA DE PROVEEDORES</h3>
		<table class="table table-sm">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Email</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Tipo</th>
					<th scope="col">Activo</th>
				</tr>
			</thead>
			<tbody>
				{% for data in list %}
					<tr>
						<th scope="row">{{data.id}}</th>
						<td>{{data.nombre}}</td>
						<td>{{data.email}}</td>
						<td>{{data.telefono}}</td>
						<td>{{data.tipo}}</td>
						<td>{{data.activo}}</td>
						<td>
							<a class="btn btn-warning " href="{{ path('update', {'id': data.id} )}}">
								<i class="bi bi-pencil"></i>
							</a>
							<a class="btn btn-danger rounded-circle" href="{{ path('delete', {'id': data.id} )}}"onclick="return confirm('Confirmar eliminación')">
								<i class="bi bi-trash"></i>
							</a>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-primary mt-2 text-white rounded-pill" href="{{ path('create')}}">
			<strong>Añadir Proveedor</strong>
		</i>
	</a>
</div>
<script>
{% endblock %}
