{% extends 'base.html.twig' %}

{% block title %}Lista de proveedores
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('notice') %}

			<div class="alert alert-success mt-4 mb-b">
				{{message}}
			</div>
		{% endfor %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Email</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Tipo</th>
					<th scope="col">Activo</th>
					<!--<th scope="col">Fecha Creación</th>-->
				</tr>
			</thead>
			<tbody>
				{% for data in list %}
					<tr>
						<th scope="row">{{data.id}}</th>
						<td>{{data.nombre}}</td>
						<td>{{data.email}}</td>
						<td>{{data.telefono}}</td>
						<td>{{data.tipo}}</td>
						<td>{{data.activo}}</td>
						<td>
							<a class="btn btn-warning" href="{{ path('update', {'id': data.id} )}}">Editar</a>
							<a class="btn btn-danger" href="{{ path('delete', {'id': data.id} )}}">Eliminar</a>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
